<div class="collapsible-menu">
    <div class="menu-content">
        <ul>
            <li><a href="#"></a>Home</li>
            <li><a href="#"></a>Services</li>
            <li><a href="#"></a>Projects</li>
            <li><a href="#"></a>About</li>
            <li><a href="#"></a>Blog</li>
            <li><a href="#"></a>Contacts</li>
         </ul>
     </div>
</div> 
<body>
    <div class="collapsible-menu">
        <input type="checkbox" id="menu">
        <label for="menu">Menu</label>
        <div class="menu-content">
            <ul>
                <li><a href="#"></a>Home</li>
                <li><a href="#"></a>Services</li>
                <li><a href="#"></a>Projects</li>
                <li><a href="#"></a>About</li>
                <li><a href="#"></a>Blog</li>
                <li><a href="#"></a>Contacts</li>
            </ul>
        </div>
    </div>
</body>