<body id="bo">
    
    <div class="wrapper">
      <nav class="navbar navbar-expand-lg navbar-light nnaavv" style="background-color: #F0F8FF;">
        <a class="navbar-brand navi" routerLink="/"><img src="../../../assets/logo.png"width="80" height="80"/></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation" style="margin-top:40px;">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav bbtn">
            <button style="margin-top: 5px;" class="btn" routerLink="/adminprofile">PROFILE</button>
            <button style="margin-top: 5px;" class="btn btn1" (click)="loggout()">LOGOUT</button>
          </div>
        </div>
      </nav>
        <br><br><br>
        <div class="text-center">
          <circle-progress *ngIf="loader"
          [percent]="100"
          [radius]="50"
          [outerStrokeWidth]="8"
          [innerStrokeWidth]="4"
          outerStrokeColor="red"
          innerStrokeColor="yellow"
          [animation]="true"
          [animationDuration]="10000"
          ></circle-progress>
        </div>
        <div class="card card1" *ngIf="!loader">
            <h1 style="text-align: center;margin-top: 20px; text-transform:capitalize;">ABOUT {{task.taskname}}</h1>
            <h3 class="date">Deadline: {{task.enddate}}</h3>
            <h3 class="com">Status: {{task.complete}}</h3>
            <a class="tname btn compt" (click)="approve(task._id)" type="button ">Completed</a>
            <a class="tname btn stat" (click)="disapprove(task._id)" type="button ">Incompleted</a>
            <br>
            <div class="pfile">
                <br><br>
                <h1 style="text-transform:capitalize;">{{task.taskname}}</h1>   
                <br><br>
                <h4>DETAILS</h4>   
                <p class="details">
                    {{task.taskdetails}}
                </p>
                <br><br>
            </div>
      </div>
    </div>